%focus {
	&:focus {
		@include focus($color: lighten($teal, 10%));
	}
}

.row-form {
	position: relative;

	&__map-container {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}

	iframe {
		width: 100%;
		height: 100%;
	}

	&__box {
		position: relative;
		z-index: 1;
		background-color: $green;
		width: 50%;
		margin-left: 50%;
		padding: $small-space;

		p {
			margin-bottom: $small-space;
		}
	}

	&__fields-wrapper {
		@include flexProperties(column, null, null, null, calc($small-space/2));
	}

	&__two-fields-wrapper {
		@include flexProperties(null, null, null, null, calc($small-space/2));

		.row-form__input-label-wrapper {
			width: 50%;
		}
	}

	&__input-label-wrapper {
		@include flexProperties(column, null, null, null, calc($small-space/4));
	}

	.row-form__label {
		font-size: $font-size-p-smaller;

		span {
			color: $redValidationForm;
			font-size: $font-size-p * 1.2;
		}
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: calc($small-space/4);
		@include border($width: 2px, $color: $navy);
		@extend %focus;
	}

	select,
	textarea {
		font-family: $font-text;
		font-size: $font-size-p;
	}

	button {
		margin-top: calc($small-space/2);
		@extend %focus;
	}

	@media screen and (max-width: 1280px) {
		&__box {
			width: 75%;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 900px) {
		&__box {
			width: 90%;
		}
	}

	@media screen and (max-width: 650px) {
		&__box {
			width: 100%;
		}

		&__two-fields-wrapper {
			@include flexProperties(column, null, null, null, null);

			.row-form__input-label-wrapper {
				width: 100%;
			}
		}
	}
}
