%font-margin-headings {
	font-family: $font-heading;
	margin-top: 0;
	margin-bottom: $small-space;
}

* {
	box-sizing: border-box;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

section {
	padding: $large-space 0;
}

p,
a,
label,
input {
	font-family: $font-text;
	font-size: $font-size-p;
	margin: 0;
}

h1 {
	font-size: $font-size-h1;
	@extend %font-margin-headings;
}

h2 {
	font-size: $font-size-h2;
	@extend %font-margin-headings;
}

h3 {
	font-size: $font-size-h3;
	@extend %font-margin-headings;
}

p {
	line-height: 1.5;
}

img {
	width: 100%;
}

/* Boutons */

.button {
	border: none;
	box-shadow: $shadow-btn;
	transition: all 0.2s;
	padding: calc($small-space/2) $small-space;
	text-decoration: none;
	font-weight: 500;

	&--navy {
		background-color: $navy;
		color: $white;

		&:hover {
			background-color: lighten($navy, 10%);
			transition: all 0.2s;
		}
	}

	&--white {
		background-color: $white;
		color: $navy;

		&:hover {
			background-color: $green;
			color: $navy;
			transition: all 0.2s;
		}
	}
}

button {
	width: fit-content;
	font-size: $font-size-p;
	font-family: $font-text;

	&:hover {
		cursor: pointer;
	}
}

@media (max-width: 1024px) {
	section {
		padding: calc($large-space / 1.5) 0;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: $font-size-h1-mobile;
	}

	h2 {
		font-size: $font-size-h2-mobile;
	}

	h3 {
		font-size: $font-size-h3-mobile;
	}
}

@media (max-width: 600px) {
	section {
		padding: calc($large-space / 2) 0;
	}
}
