.row-newsletter {
	background-color: $green;

	.container {
		@include flexProperties(null, center, center, null, null);
	}

	input,
	button {
		&:focus {
			@include focus($color: lighten($teal, 10%));
		}
	}

	&__text {
		font-size: $font-size-h3;
		padding: 0 $large-space * 3;
		margin-bottom: $small-space;
		text-align: center;
	}

	&__fields {
		@include flexProperties(null, center, baseline, null, $small-space);
		width: 50%;
		margin: 0 auto;
	}

	&__field-wrapper {
		flex-basis: 70%;

		label {
			display: none;
		}

		input {
			width: 100%;
			padding: 0.8rem calc($small-space/2);
			@include border($width: 2px, $color: $navy);
		}
	}

	@media screen and (max-width: 1200px) {
		&__text {
			padding: 0 $large-space * 2;
		}
	}

	@media screen and (max-width: 1024px) {
		&__fields {
			width: 60%;
		}
	}

	@media screen and (max-width: 900px) {
		&__text {
			padding: 0 $large-space;
		}

		&__fields {
			width: 70%;
		}
	}

	@media screen and (max-width: 768px) {
		&__text {
			font-size: $font-size-h3-mobile;
			padding: 0 calc($large-space / 2);
		}

		&__field-wrapper {
			width: 80%;
		}

		&__fields {
			@include flexProperties(column, null, center, null, null);
			width: 100%;
		}
	}

	@media screen and (max-width: 600px) {
		&__text {
			padding: 0 calc($large-space/4);
		}
	}
}
