/* Couleurs */
$green: #a1d18a;
$teal: #00787a;
$navy: #18195e;
$black: #141414;
$white: #ffffff;
$redValidationForm: rgb(162, 2, 2);
$greenValidationForm: rgb(1, 78, 20);

/* Police */
$font-text: "Raleway", sans-serif;
$font-heading: "Fira Sans Extra Condensed", sans-serif;

/* Tailles de police */
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.6rem;
$font-size-p: 1rem;
$font-size-p-smaller: 0.85rem;

$font-size-h1-mobile: 2.8rem;
$font-size-h2-mobile: 1.8rem;
$font-size-h3-mobile: 1.4rem;

/* Espacements */
$small-space: 2rem;
$medium-space: 4rem;
$large-space: 6rem;

/* Ombres */

$shadow-img: 0px 0px 15px rgba(0, 0, 0, 0.15);
$shadow-btn: 0px 0px 15px rgba(0, 0, 0, 0.3);
